<template name="navigation">
  <div class="flakes-navigation">
    <a href="index.html" class="logo">
    </a>
    <ul>
      <li class="title">Invoice Forms</li>
      <li><a href="{{pathFor 'invoiceSubmitForm'}}" title="Enter Invoices">Create New Manual Invoice</a>
      </li>
      <li><a href="{{pathFor 'importInvoiceForm'}}" title="Import Invoices">Imports</a></li>
      <li><a href="{{pathFor 'clothingAllowance'}}">Clothing Allowance</a></li>
      <li><a href="{{pathFor 'manualApron'}}">Manual Apron</a></li>
    </ul>
    <ul>
      <li class="title">Invoice Queues</li>
      <li><a href="{{pathFor 'invoicesList'}}" title="Invoices List">Invoices List</a></li>
      {{#if isInRole 'admin'}}
        <li><a href="{{pathFor 'pendingInvoices'}}" title="Pending Invoices">Pending Approval</a></li>
      {{/if}}
      <li><a href="{{pathFor 'approvedInvoices'}}" title="Approved Invoices">Approved</a></li>
      <li><a href="{{pathFor 'rejectedInvoices'}}" title="Rejected Invoices">Rejected</a></li>
      <!--<li><a href="{{pathFor 'archivedInvoices'}}" title="Archived Invoices">Archived</a></li>-->
    </ul>
    {{#if isInRole 'admin'}}
      <ul>
        <li class="title">Admin</li>
        <li><a href="{{pathFor 'editUsers'}}">Edit Users</a></li>
      </ul>
    {{/if}}
    {{#if currentUser}}
      <p class="foot">
        Hello <b>{{emails}}</b><br>
        <a>Account</a> &bullet; <a href="#" id="logout" class="logout">Logout</a>
      </p>
    {{/if}}
  </div>
</template>
