<template name="invoicePage">
  {{#if isRejected}}
    <h3>Rejection Reason</h3>
    <br/>
    <div class="comments">
      {{#each comments}}
        {{> commentItem}}
      {{/each}}
    </div>
    <br/>
  {{/if}}
  <form class="grid-form invoice" id="{{_id}}">
    {{> invoiceHeader}}
    <table class="flakes-table">
      <thead>
      <tr>
        <!--<td>#</td>-->
        <td class="store-column">STORE</td>
        <td>CLASS</td>
        <td>UNIT CST</td>
        <td>RET. CST</td>
        <td class="quantity-column">QTY</td>
        <td>STYLE</td>
        <td>SKU</td>
        <td class="description-column">DESC.</td>
        <td>LINE TOTAL</td>
      </tr>
      </thead>
      <tbody>
      {{#each invoiceLines}}
        {{> invoiceLineItem}}
      {{/each}}
      </tbody>
    </table>
    <hr>
    <br>
    {{#if isPending}}
      <br/>
      <p class="flakes-message warning">If you are rejecting the invoice, please add a comment to explain the reason for rejection.</p>
      <form class="grid-form">
        <fieldset>
          <div data-row-span="1">
            <legend>Comments</legend>
            <div data-row-span="">
              <div data-field-span="1" style="width: 100%;">
                <label></label>
                <textarea rows=3 type="text" class="comment"></textarea>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <ul class="comments">
        {{#each commments}}
          {{> commentItem}}
        {{/each}}
      </ul>
    {{/if}}
    <br/>
    <div class="grid-7 gutter-10">
      {{#if isApproved}}
        {{#if isInRole 'create-invoices' 'admin'}}
          <div class="span-4"></div>
          <div class="span-3">
            <a class="button-orange bigger edit-invoice" href="{{pathFor 'invoiceEdit'}}" style="float: right"><b>Edit and Resubmit</b></a>
          </div>
        {{/if}}
      {{/if}}
      {{#if isPending}}
        {{#if isInRole 'admin'}}
          <div class="span-4"></div>
          <div class="span-1">
            <a class="button-orange edit-invoice" href="{{pathFor 'invoiceEdit'}}" style="float: right"><b>Edit</b></a>
          </div>
          <div class="span-1">
            <a class="button-green approve-invoice ciu-export"><b>Approve</b></a>
          </div>
          <div class="span-1">
            <a class="button-red reject-invoice pull-right"><b>Reject</b></a>
          </div>
        {{else}}
          {{#if isInRole 'create-invoices'}}
            <div class="span-6"></div>
            <div class="span-1">
              <a class="button-orange edit-invoice" href="{{pathFor 'invoiceEdit'}}" style="float: right"><b>Edit</b></a>
            </div>
            <!--<div class="span-1">-->
            <!--<a class="button-green submit-invoice pull-right"><b>Submit</b></a>-->
            <!--</div>-->
          {{/if}}
        {{/if}}
      {{/if}}
            <!-- Don't show the submit button to admins - approve does the same thing -->

      {{#if isRejected}}
        <div class="span-6"></div>
        <div class="span-1">
          <a class="button-orange edit-invoice" href="{{pathFor 'invoiceEdit'}}" style="float: right"><b>Edit</b></a>
        </div>
      {{/if}}
    </div>
  </form>
  <!-- Comment form -->
</template>