<template name="layout">
  <div class="flakes-frame">
    {{#if currentUser}}
      {{> navigation}}
    {{/if}}
    <div class="flakes-content">
      <div class="flakes-mobile-top-bar">
        <a href="" class="logo-wrap">
          <img src="/img/logo.png" height="30px">
        </a>
        <a href="" class="navigation-expand-target">
           <img src="/img/site-wide/navigation-expand-target.png" height="26px">
        </a>
        <a href="" class="logo-wrap">HBC AP</a>
      </div>
      <div class="view-wrap">
        {{> yield}}
      </div>
    </div>
  </div>
</template>
