<template name="resetPassword">
  <h2>Reset Password</h2>
    <fieldset>
      <form id="resetPasswordForm">
        <ul>
          <li><input id="resetPasswordEmail" type="text" name="email" placeholder="Email Address"></li>
          <li><input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" ></li>
          <li><input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" ></li>
          <li><input class="btn-submit" type="submit" value="Reset"></li>
        </ul>
      </form>
    </fieldset>
      <!-- end #reset-password-form -->
</template>