<template name="glAccountEntry">
  <p class="flakes-message information">You only need to enter the GL account for the following transaction codes: 160, 210, 211, 212, 327, 500, 501</p>
  <fieldset>
    <legend>GL Account</legend>
    <div data-row-span="7" class="gl-account">
      <div data-field-span="1">
        <label>Company</label>
        <input type="text">
      </div>
      <div data-field-span="1" style="height: 55px;" class="operating-unit">
        <label>Operating Unit</label>
        <input type="text">
      </div>
      <div data-field-span="1" class="location">
        <label>Location </label>
        <input type="text">
      </div>
      <div data-field-span="1" class="cost-center">
        <label>Cost Center </label>
        <input type="text">
      </div>
      <div data-field-span="1" class="account">
        <label>Account </label>
        <input type="text">
      </div>
      <div data-field-span="1" class="department">
        <label>Department </label>
        <input type="text">
      </div>
      <div data-field-span="1" class="inter-company">
        <label>Inter Company </label>
        <input type="text">
      </div>
    </div>
  </fieldset>
</template>