<template name="invoiceHeaderForm">
  <fieldset>
    <legend>Invoice Header</legend>
    <div data-row-span="4">
      <div data-field-span="1">
        <label>PO</label>
        <input type="text" name="PO" required/>
      </div>
      <div data-field-span="1">
        <label>BOL</label>
        <input type="text" name="BOL" required/>
      </div>
      <div data-field-span="1">
        <label>TOTAL QUANTITY</label>
        <input type="text" name="totalQuantity">
      </div>
      <div data-field-span="1">
        <label>TOTAL COST</label>
        <input type="text" name="totalCost">
      </div>
    </div>
    <div data-row-span="5">
      <div data-field-span="1">
        <label>OPCO</label>
          {{> opcos}}
      </div>
      <div data-field-span="1">
        <label>Department</label>
          {{> departments}}
      </div>
      <div data-field-span="1">
        <label>Manufacturer</label>
          {{> manufacturers}}
      </div>
      <div data-field-span="2">
        <label>Vendor Name</label>
        {{> vendorNames}}
      </div>
    </div>
    <div data-row-span="5">
      <div data-field-span="1">
        <label>INVOICE NUMBER</label>
        <input type="text" name="invoiceNumber">
      </div>
      <div data-field-span="1">
        <label>TRANSACTION CODE</label>
        {{> transactionCodes}}
      </div>
      <div data-field-span="2"  class="">
        <label>SOURCE</label>
        <select class="source-select" name="source"></select>
      </div>
      <div data-field-span="1">
        <label>INVOICE DATE</label>
        <input type="text" name="invoiceDate">
      </div>
    </div>
    <div data-row-span="12">
      <div data-field-span="" style="width:100%;" >
        <label>DESCRIPTION</label>
        <textarea name="description"></textarea>
      </div>
    </div>
  </fieldset>
</template>
