body {
  overflow: auto;
}

td .invoiceLineNumber {
  width: 20px;
}

.flakes-table thead tr td.quantity-column,
.flakes-table thead tr td.store-column
{
  width: 30px;
}

.flakes-information-box {
  margin-bottom: 10px;
}