<template name="invoiceLineEdit">
  <tr id="{{_id}}">
    <!-- <td><input type="text" class="invoiceLineNumber" value="{{invoiceLineNumber}}"></td> -->
    <td><input type="text" class="store" value="{{store}}}" ></td>
    <td><input type="text" class="itemClass" value="{{itemClass}}"></td>
    <td><input type="text" class="unitCost" value="{{unitCost}}"></td>
    <td><input type="text" class="quantity" value="{{quantity}}"></td>
    <td><input type="text" class="style" value="{{style}}"></td>
    <td><input type="text" class="sku" value="{{sku}}"></td>
    <td><input type="text" class="description" value="{{description}}"></td>
    <td><input type="text" class="lineTotal" value="{{lineTotal}}"></td>
    <td><a class="delete-invoice-line button-red tiny"><b>×</b></a></td>
  </tr>
</template>
