<template name="invoiceLine">
  <tr>
    <!-- <td><input type="text" class="invoiceLineNumer" value="1" disabled="true"></td> -->
    <td><input type="text" class="store" maxlength=4></td>
    <td><input type="text" class="class"></td>
    <td><input type="text" class="unitCost" maxlength=11></td>
    <td><input type="text" class="lineRetailCost"></td>
    <td><input type="text" class="quantity" value=""></td>
    <td><input type="text" class="style" value="" maxlength=20></td>
    <td><input type="text" class="sku" value="" maxlength=8></td>
    <td><input type="text" class="description" value="" maxlength=200></td>
    <!--<td><input type="text" class="lineTotal" value=""></td>-->
    <td><a class="remove-invoice-line button-red tiny"><b>×</b></a></td>
  </tr>
</template>
