<template name="invoiceHeaderForm">
  <fieldset>
    <legend>Invoice Header</legend>
    <div data-row-span="5">
      <div data-field-span="1">
        <label>OPCO</label>
        {{> opcos}}
      </div>
      <div data-field-span="2">
        <label>Vendor Name</label>
        {{> vendorNames}}
      </div>
      <div data-field-span="2">
        <label>Vendor Number</label>
        {{> vendorNumbers}}
      </div>
    </div>
    <div data-row-span="5">
      <div data-field-span="1">
        {{> departments}}
      </div>
      <div data-field-span="1">
        <label>Manufacturer</label>
        {{> manufacturers}}
      </div>
      <div data-field-span="1">
        <label>TRANSACTION CODE</label>
        {{> transactionCodes}}
      </div>
      <div data-field-span="1"  class="">
        <label>SOURCE</label>
        {{> sources}}
      </div>
      <div data-field-span="1">
        <label>INVOICE DATE</label>
        <input type="text" name="invoiceDate" maxlength=8 placeholder="DDMMYYYY">
      </div>
    </div>
    <div data-row-span="7">
      <div data-field-span="2">
        <label>INVOICE NUMBER</label>
        <input type="text" name="invoiceNumber" maxlength=25>
      </div>
      <div data-field-span="2">
        <label>PO</label>
        <input type="text" name="PO" maxlength=20 required/>
      </div>
      <div data-field-span="2">
        <label>BOL</label>
        <input type="text" name="BOL" maxlength=20 required/>
      </div>
      <div data-field-span="1">
        <label>URN</label>
        <input type="text" name="urn" maxlength=10 required/>
      </div>
      <!-- <div data-field-span="1">
        <label>TOTAL QUANTITY</label>
        <input type="text" name="totalQuantity">
      </div> -->
      <!-- <div data-field-span="1">
        <label>TOTAL COST</label>
        <input type="text" name="totalCost" maxlength=11>
      </div> -->
    </div>
    <div data-row-span="12">
      <div data-field-span="" style="width:100%;" >
        <label>HEADER DESCRIPTION</label>
        <textarea name="headerDescription" maxlength="200"></textarea>
      </div>
    </div>
  </fieldset>
</template>
