<template name="invoiceSubmitForm">
  <div class="grid-16 gutter-20">
    <div class="span-12">
      <form class="grid-form">
        {{> invoiceHeaderForm}}
        <br>
        <br>
        <fieldset>
          <legend>Invoice Lines <small><a href="#" class="add-invoice-line"><b>Add Lines</b></a></small>
                  <!-- <small><a href="#" class="remove-invoice-line"><b>Remove Lines</b></a></small> -->
          </legend>
        </fieldset>
        <table class="flakes-table">
          <thead>
          <tr>
            <!-- <td style="width: 40px;">#</td> -->
            <td class="store-column">STORE</td>
            <td>CLASS</td>
            <td>UNIT CST</td>
            <td>RET. CST</td>
            <td class="quantity-column">QTY</td>
            <td>STYLE</td>
            <td>SKU</td>
            <td>DESC.</td>
            <!--<td>LINE TOTAL</td>-->
            <td>X</td>
          </tr>
          </thead>
          <tbody>
          {{> invoiceLine}}
          </tbody>
        </table>
        <hr>
        <br>
        {{> glAccountEntry}}
      </form>
    </div>
    <br>
    <div class="span-12" >
      <div class="span-10"></div>
      <div class="span-2">
        <a class="button-darkblue add-invoice" style="float: right;"><b>Submit</b></a>
      </div>
    </div>
  </div>
</template>
