<template name="invoiceLineItem">
  <tr>
    <!--<td>{{invoiceLineNumber}}</td>-->
    <td class="store">{{store}}</td>
    <td class="itemClass">{{itemClass}}</td>
    <td class="unitCost">{{formatDollars unitCost}}</td>
    <td class="lineRetailCost">{{formatDollars lineRetailCost}}</td>
    <td class="quantity">{{quantity}}</td>
    <td class="style">{{style}}</td>
    <td class="sku">{{sku}}</td>
    <td class="description">{{description}}</td>
    <td>{{lineTotal}}</td>
    <!--<td><a class="button-red tiny"><b>×</b></a></td>-->
  </tr>
</template>
