<template name="clothingAllowanceTableWrapper">
  <table class="flakes-table">
    <thead>
    <tr>
      <!-- <td style="width: 40px;">#</td> -->
      <td class="store-column">STORE</td>
      <td style="width: 100px;">DEPT. NO</td>
      <td style="width: 125px;">COST</td>
      <td style="width: 125px;">RETAIL</td>
      <td style="width: 100px;" class="quantity-column">INVOICE NO.</td>
      <td style="width: 175px;">PURCHASE ORDER NO.</td>
      <td>EXPLANATION</td>
      <!--<td class="description-column">DESC.</td>-->
      <!--<td>LINE TOTAL</td>-->
      <td>X</td>
    </tr>
    </thead>
    <tbody>
    {{> UI.contentBlock}}
    </tbody>
  </table>
</template>