<template name="invoiceEdit">
  <p class="flakes-message warning">WARNING: You are in edit mode. All fields are editable, but changes will not be saved until you click "CONFIRM" below.</p>
  <form class="grid-form">
    {{> invoiceHeaderEdit}}
    <br>
    <br>
    <fieldset>
      <legend>Invoice Lines <small><a href="#" class=" add-invoice-line"><b>Add Lines</b></a></small>
      </legend>
    </fieldset>
    {{> invoiceLinesTable}}
    <hr>
    <br>
    <div class="grid-8 gutter-10">
      <div class="span-5"></div>
      <div class="span-1">
        <a class="button-orange cancel-changes" ><b>Cancel</b></a>
      </div>
      <div class="span-1">
        <a class="button-green confirm-changes"><b>Confirm</b></a>
      </div>
      <div class="span-1">
        <a class="button-red delete-invoice" style="float: right;" ><b>Delete</b></a>
      </div>
    </div>
    <!--<br>-->
    <!--<div class="grid-8 gutter-10">-->
      <!--<div class="span-6"></div>-->
      <!--<div class="span-1"></div>-->
      <!---->
    <!--</div>-->
  </form>
</template>
