<template name="invoiceHeaderEdit">
  <div class="grid-8 gutter-10">
    <div class="span-7" style=";"></div>
    <div class="span-1">
      <div class="status-label {{status}}">{{status}}</div>
    </div>
  </div>
  <fieldset>
    <legend>Invoice Header</legend>
    <div data-row-span="6">
      <div data-field-span="1">
        <label>PO</label>
        <input type="text" name="PO" value="{{PO}}">
      </div>
      <div data-field-span="1">
        <label>BOL</label>
        <input type="text" name="BOL" value="{{BOL}}">
      </div>
      <div data-field-span="1">
        <label>TOTAL QUANTITY</label>
        <input type="text" name="totalQuantity" value="{{totalQuantity}}" disabled="true">
      </div>
      <div data-field-span="1">
        <label>TOTAL COST</label>
        <input type="text" name="totalCost" value="{{formatDollars totalCost}}" disabled="true">
      </div>
      <div data-field-span="1" >
        <label>RETAIL COST</label>
        <input type="text" name='retailCost' value="{{formatDollars retailCost}}" disabled="true"/>
      </div>
      <div data-field-span="1">
        <label>URN</label>
        <input type="text" name="urn" value="{{urn}}"/>
      </div>
    </div>

    <div data-row-span="5">
      <div data-field-span="1">
        <label>OPCO</label>
        <input type="text" name="opco" value="{{OPCO}}">
      </div>
      <div data-field-span="1">
        <label>Department</label>
        <input type="text" name="department" value="{{department}}">
      </div>
      <div data-field-span="1">
        <label>Manufacturer</label>
        <input type="text" name="manufacturer" value="{{manufacturer}}">
      </div>
      <div data-field-span="2">
        <label>Vendor Name</label>
        <input type="text" name="vendorName" value="{{vendorName}}">
      </div>
    </div>
    <div data-row-span="5">
      <div data-field-span="1">
        <label>INVOICE NUMBER</label>
        <input type="text" name="invoiceNumber" value="{{invoiceNumber}}">
      </div>
      <div data-field-span="1">
        <label>TRANSACTION CODE</label>
        <input type="text" name="transactionCode" value="{{transactionCode}}">
      </div>
      <div data-field-span="2"  class="">
        <label>SOURCE</label>
        <input type="text" name="source" value="{{source}}">
      </div>
      <div data-field-span="1">
        <label>INVOICE DATE</label>
        <input type="text" name="invoiceDate" value="{{invoiceDate}}">
      </div>
    </div>
    <div data-row-span="12">
      <div data-field-span="" style="width:100%;" >
        <label>HEADER DESCRIPTION</label>
        <textarea name="headerDescription" value="{{headerDescription}}" maxlength="200"></textarea>
      </div>
    </div>
  </fieldset>
</template>
