<template name="register">
  <h2>Not Registered Yet?</h2>
  <fieldset>
    <legend>Register</legend>
    <form>
      <ul>
        <li>
          <label>Email</label>
          <input type="email" id="register-email">
        </li>
        <li>
          <label>Password</label>
          <input type="password" id="register-password">
        </li>
        <li>
          <label>Confirm Password</label>
          <input type="password" id="login-password-confirm">
        </li>
        <li>
          <input type="submit" value="Register">
        </li>
      </ul>
    </form>
  </fieldset>
</template>
